<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  
<h:head>
    <title>MMORPG</title>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <style type="text/css">
        body, html { font-family:helvetica,arial,sans-serif; font-size:1em; }
    </style>
    <!--[if IE]><script type="text/javascript" 
    src="excanvas_r3/excanvas.compiled.js"></script><![endif]--> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/dojo/dojo/dojo.js.uncompressed.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
    
    <link rel="stylesheet" type="text/css" href="../resources/css/main.css" media="screen" />
    <link rel="stylesheet" id="themeStyles" href="../resources/dojo/dijit/themes/tundra/tundra.css" /> 
    <link rel="stylesheet" href="../resources/dojo/dojox/layout/resources/ScrollPane.css" /> 
    <script type="text/javascript" src="../resources/dojo/dojox/layout/ScrollPane.js" />
    
    <!-- ideally, script src tag should be dojo/dojo/dojo.js -->
    <script type="text/javascript">
        // JSF bindings via EL (expression language)
        var JSESSIONID = "#{facesContext.externalContext.request.session.id}"; // Necessary for game.net.client to know where to send AJAX requests
        var REMOTEADDR = "#{facesContext.externalContext.request.remoteAddr}"; // Helpful for displaying debug information
        var LOGIN = "#{facesContext.externalContext.applicationMap['login']}";
        var PASSWORD = "#{facesContext.externalContext.applicationMap['password']}";
        
        dojo.require("game.main");

        dojo.ready(function() {
            // this must be attached to document rather than body to allow dragging outside the window
            dojo.connect(document, "onmousemove", null, function(event) { processMouseMv(event); });
            dojo.connect(document, "onkeydown", null, function(event) { processKeyDown(event); });
            dojo.connect(document, "onkeypress", null, function(event) { processKeyPress(event); });
            dojo.connect(document, "onkeyup", null, function(event) { processKeyUp(event); });
            dojo.connect(window, "onresize", null, function(event) { return onResize(event); });

            dojo.addOnWindowUnload(sendLogout);
            dojo.addOnUnload(sendLogout);
            dojo.body().onunload = sendLogout;

            main();

            initUI();
            window.focus();

            lc("Ready", 'color:green');
        });
    </script>
    <!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css" /> -->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/layout/resources/FloatingPane.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/layout/resources/ResizeHandle.css" />
</h:head>

<h:body class="claro" oncontextmenu="return false">
    <div id="gfx_holder" style="top: 0; left: 0; right: 0; border: none; z-index: 1;" onmousedown="processMouseDown(event)" onmouseup="processMouseUp(event)"></div>
    <div id="menubar" style="position: fixed; top: 10px; left: 0; right: 0; width: 0; height: 0; margin: auto; border: none; z-index: 50; background-color: #00ffff;"></div>
    <div id="inventory"></div>
    <div id="targets" style="position: absolute; top: 0; left: 0; right: 0; width: 0; height: 0; margin: auto; border: none; z-index: 50; background-color: #00ffff;"></div>
    <div id="version" style="position: fixed; top: 1%; left: 0; right: 0; width: 200px; height: 60px; border: none; background-color: #00ffff;">
        Version #{strings.version}
        <br />
        remoteAddr #{facesContext.externalContext.request.remoteAddr}
        <br />
        remoteHost #{facesContext.externalContext.request.remoteHost}
    </div>
    <div id="loginContainer" style="position: fixed; top: 40px; left: 0; right: 0; width: 0; height: 0; margin: auto; border: none; z-index: 50; background-color: #00ffff;">
        <input type="text" id="usernameLogin" name="username"></input>
        <input type="password" id="passwordLogin" name="password"></input>
        <button value="Login" onclick="doLogin()">Login</button>
    </div>
    
	<div id="container">
		<div id="messageContainer">
			<div id="messageBox"></div>
		</div>
		<input type="text" id="inputBox" />
	</div>
</h:body>

</html>
