<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  
<h:head>
    <title>Test</title>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <style type="text/css">
        body, html { font-family:helvetica,arial,sans-serif; font-size:1em; }
    </style>
    <!--[if IE]><script type="text/javascript" 
    src="excanvas_r3/excanvas.compiled.js"></script><![endif]--> 
    <script type="text/javascript" src="../resources/dojo/dojo/dojo.js.uncompressed.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
    
    <link rel="stylesheet" id="themeStyles" href="../resources/dojo/dijit/themes/tundra/tundra.css" /> 
    <link rel="stylesheet" href="../resources/dojo/dojox/layout/resources/ScrollPane.css" /> 
    <script type="text/javascript" src="../resources/dojo/dojox/layout/ScrollPane.js" />
    
    <!-- ideally, script src tag should be dojo/dojo/dojo.js -->
    <script type="text/javascript">
        var JSESSIONID = "#{facesContext.externalContext.request.session.id}";
        var REMOTEADDR = "#{facesContext.externalContext.request.remoteAddr}";
        dojo.require("game.main");

        // Override send packet so we can track more closely what's going on 
        function overrideSendPacket(overrideLoad, overrideError) {
            sendPacket = function(buf, loadCallback, errorCallback) {
                if(overrideLoad != null) {
                    loadCallback = overrideLoad;
                }
                if(overrideError != null) {
                    errorCallback = overrideError;
                }
                
                if(loadCallback == null) {
                    loadCallback = handleResponse;
                }
                if(errorCallback == null) {
                    errorCallback = function(data) {};
                }

                sendBytesAsBinary(buf, loadCallback, errorCallback);
            }
        }
        

        dojo.ready(function() {
               dojo.create("div", { innerHTML: "Dojo loaded successfully, starting tests" }, dojo.body(), "last");

               testLogin();
               reset();
               testMessagingSystem();

               setTimeout(function() { sendLogout(); }, 2000);
            });

        function testLogin() {
            // overrideSendPacket(null, function() { e("testLogin: login failed"); });                        

            // make sure handleRequestPackets is called, and with the right parameters
            /*oldHandleRequestPackets = handleRequestPackets; // save old function
            handleRequestPackets = function(buf) {
                    d("yay");
                    n = buf.get();
                    if(data.hasMore()) {
                        e("testLogin: expected buffer to have no more data");
                    }
                    sendRequestPackets(n);

                    sendLogout();

                    handleRequestPackets = oldHandleRequestPackets;
                };*/

            sendLogin("1", "1");
            
            dojo.create("div", { innerHTML: "Login successful" }, dojo.body(), "last");
        }

        function testMessagingSystem() {
            sendBrowserTest();
            dojo.create("div", { innerHTML: "Messaging test started, check Firebug/console output for detailed results" }, dojo.body(), "last");
        }

        function reset() {
            overrideSendPacket(null, null);
        }
    </script>
    <!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css" /> -->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/layout/resources/FloatingPane.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/layout/resources/ResizeHandle.css" />
</h:head>

<h:body class="claro" oncontextmenu="return false">
    <div id="gfx_holder" style="top: 0; left: 0; right: 0; border: none; z-index: 1;" onmousedown="processMouseDown(event)" onmouseup="processMouseUp(event)"></div>
</h:body>

</html>
