canvas
{
    float:left;
}
#container
{
	top:0px;
    position:absolute;
    right: 10px;
    width:auto;
}
#messageContainer
{
	opacity:0;
	-moz-border-radius:15px 15px 0px 0px;
	-webkit-border-radius:15px 15px 0px 0px;
	-o-bordder-radius:15px 15px 0px 0px;
	color:rgb(255,255,255);
	background:rgb(0,0,0);
    border:1px black solid;
    height:500px;
    width:200px;
    overflow: auto;
}
#messageBox
{
	padding:10px;
}
#inputBox
{
	width:100%;
	opacity:0.2;
	background:black;
	color:white;
	bottom:0px;
}
#messageBox p
{
    margin:0px;
    padding:0px;
}